
/*MENU*/
.navbar {
    font-size: 1em;
    margin-top: 5px;
    background-color: darkorange;

}
.nav-pills .nav-link{
    color: white !important;
    text-align: center;
}
.nav-pills .nav-link:hover{
    color:blue !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

/*MOTEUR RECHERCHE*/
section {
    background-color: darkgray;
    min-height: 50vh;
}
h1 {
    color: #264ABD;
}
.container {
    background-color: blueviolet;
    height: 100px;
    max-width: 100%;
    margin: 0px;
}
.row {
    background-color: chartreuse;
    margin: auto;
    height: 70px; 
}
#recherche {
    background-color: #f0856b;
    color: white;
}