/*
RESPONSIVE - FORMATS D'ECRAN A TRAVAILLER : 

1- DESKTOP - à partir de 1024 px ;
2- TABLET - à partir de 768 px;
3- MOBILE - à parir de 320 px;

COULEURS CHARTE GRAPHIQUE :

Couleurs principales :
Peche     : #f0856b;
Bleu foncé: #264abd;

Couleurs secondaires : 
gris clair : #f3f3f8;
bleu pâle  : #3a8bff;
blanc beige: #fffaf8;
pêche clair: #ffcda8;
vert clair : #eeffe4;
vert pomme : #c8ff54;
bleu vert  : #26e8bd;
Blanc      : #ffffff;
Gris       : #d4d2dc;
Noir       : #140a0f; 
vert recap : #25E8BC;
*/

/* GENERAL 
------------------------------------------------------------------------------------------------------------------*/
:root {
  --font-text: Avenir, Arial;
  --font-titre: Montserrat, Arial;

  --color-peche: #f0856a;
  --color-bleu: #264abd;

  --color-peche-pale: #ffcda8;
  --color-bleu-pale: #3a8bff;
  --color-vert-recap: #25e8bc;

  --color-ind-pos: #c8ff54;
  --color-ind-moy: #26e8bd;
  --color-ind-neg: #140a0f;

  --size-border-radius: 15px;
}

html {
  font-family: var(--font-text);
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-text) !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  justify-content: flex-start;
}

.main-div {
  flex: 1 0 auto;
}

p {
  font-family: var(--font-text);
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 1em;
  font-weight: 100;
  font-style: normal;
}

.dot {
  font: var(--font-titre);
  font-size: 50px;
  color: var(--color-peche);
  margin-left: 4px;
  line-height: 0em;
}
.dot1 {
  font: var(--font-titre);
  font-size: 50px;
  color: var(--color-bleu);
  margin-left: 4px;
  line-height: 0em;
}

@media screen and (max-width: 1024px) and (min-width: 600px) {
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
    margin-bottom: 2rem !important;
  }
  h4 {
    font-size: 2.4vw;
  }
  h5 {
    font-size: 2vw !important;
  }
  p {
    font-size: 2vw;
  }
  .dot {
    font-size: 45px;
  }
  .dot1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4.5vw;
  }
  h2 {
    font-size: 4vw;
    margin-bottom: 1.5rem !important;
  }
  h4 {
    font-size: 3vw;
  }
  h5 {
    font-size: 3vw !important;
  }
  p {
    font-size: 2.5vw;
  }
  .dot {
    font-size: 35px;
  }
  .dot1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 430px) {
  h1 {
    font-size: 5.5vw !important;
  }
  h2 {
    font-size: 4.5vw;
    margin-bottom: 1.5rem !important;
  }
  h4 {
    font-size: 3.4vw;
  }
  h5 {
    font-size: 3.3vw !important;
  }
  p {
    font-size: 3.2vw;
  }
  .dot {
    font-size: 30px;
  }
  .dot1 {
    font-size: 30px;
  }
}

.cookies {
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: var(--color-bleu);
  min-height: 60px;
}

.lblcookies {
  color: rgba(255, 255, 255, 1);
  padding: 10px 70px 10px 30px;
  font-size: 11px;
  margin: 0 !important;
}

.cookies a {
  cursor: pointer;
  right: 0;
  position: absolute;
}

.cookies svg {
  margin: 0 30px;
  width: 20px;
  fill: white;
}

.test {
  margin-left: 50px;
}

.bouton-peche {
  background-color: #f0856b;
  color: #ffffff !important;
  border-radius: 2rem;
}

.bouton-bleu {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  border-radius: 2rem;
}

.bleu-fp {
  color: var(--color-bleu) !important;
}
.peche-fp {
  color: #f0856b;
}

.btn-peche {
  background-color: var(--color-peche);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff !important;
  padding: 10px 40px;
  text-decoration: none;
  border: 0;
}

.btn-peche:hover {
  background-color: var(--color-bleu);
}

.btn-peche:active {
  position: relative;
  top: 1px;
}

.btn-bleu {
  background-color: var(--color-bleu);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff !important;
  padding: 10px 40px !important;
  text-decoration: none;
  border: 0;
}

.btn-bleu:hover {
  background-color: var(--color-peche);
}

.btn-bleu:active {
  position: relative;
  top: 1px;
}

.border-fp {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-bleu);
  border-width: 1px;
}

.small-p {
  font-size: 0.8em !important;
}

.bold {
  font-weight: bold;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.flex-nw {
  display: flex;
  flex-wrap: nowrap;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* MENU */
.navbar .navbar-brand img {
  max-width: 195px;
}
.navbar .navbar-brand {
  margin: 0;
}
.nav-item .btn-peche {
  padding: 10px 40px !important;
  width: 175px;
}

.navbar {
  padding: 20px 8%;
  background-color: white;
}
@media (max-width: 991px) {
  .navbar {
    flex-direction: row-reverse;
    border-bottom: #d4d2dc solid 1px;
  }
  .nav-item .btn-peche {
    padding: 0 !important;
    width: 175px;
    color: var(--color-peche) !important;
    background-color: transparent;
  }
}

.nav {
  flex-wrap: nowrap;
}

#menu {
  justify-content: flex-end;
}

.navbar .nav-link {
  text-align: left;
  margin: 5px 0 5px 10px;
}

.navbar .nav-link-style {
  color: var(--color-bleu) !important;
}

.navbar-nav {
  flex-direction: column-reverse;
}

.navbar-toggler {
  color: #fff !important;
  border-style: none;
}

.nav-item {
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .navbar li {
    min-width: fit-content;
  }
}

.dropdown-toggle::after {
  display: none;
}

.drop-arrow {
  top: 12px;
  position: absolute;
}

/* FOOTER */
.footer {
  background-color: #f3f3f8;
  padding-bottom: 50px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: var(--color-ind-neg);
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer .row {
  display: flex;
  width: 100%;
  padding: 0 70px;
  flex-wrap: wrap;
}

.footer .bloc {
  flex-wrap: nowrap;
  flex-grow: 1;
}

.footer .bloc a {
  text-decoration: none;
}

.footer .bloc svg {
  height: 2em;
  fill: var(--color-peche);
}

.footer .bloc svg:hover {
  fill: var(--color-bleu);
}

.footer .bouton-aide {
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 1px;
  border-radius: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer .bouton-aide:hover {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  text-decoration: none;
}

.footer h5 {
  color: var(--color-bleu);
  font-family: "Avenir Medium", Arial, Sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer .footer-brand {
  max-width: 250px;
  position: absolute;
  right: 30px;
  bottom: 40px;
}
.page-1 .footer {
  padding-bottom: 100px;
}
.page-1 .footer .footer-brand {
  bottom: 70px;
}

/* PAGE ACCUEIL 
------------------------------------------------------------------------------------------------------------------

/*MOTEUR RECHERCHE*/
#banniere {
  margin-top: 3em;
}

@media screen and (max-width: 600px) {
  #banniere {
    margin-top: 1em;
  }
}

#moteur-recherche {
  margin-top: -8em;
  padding: 12em 0 6em 0;
  background-image: url("../img/rect.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#moteur-recherche .navbar,
#moteur-recherche-mobile .navbar {
  background-color: transparent;
  border: 0;
  padding: 0 !important;
  flex-wrap: nowrap;
  justify-content: start;
}

.dropdown-toggle {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .dropdown-toggle {
    font-size: 9px;
  }

  .drop-arrow {
    top: 6px;
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  #moteur-recherche {
    padding: 10em 0 2em 0;
  }
}

@media screen and (min-width: 1025px) {
  #moteur-recherche-mobile {
    display: none !important;
  }
  .page-2 .recaps-trajet {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #moteur-recherche-resultat {
    display: none;
  }
  .search-resultat .form-search {
    grid-template-columns: 1fr 1.5fr 1.5fr 2fr 1fr;
    grid-template-areas: "dep arr fle dates dates bouton";
    justify-items: center;
  }
}

#banniere h1,
#banniere h4 {
  padding: 0 8%;
}

h1 {
  color: var(--color-bleu);
  font-family: var(--font-titre);
  font-weight: 600;
}

h2 {
  font-family: var(--font-titre);
  font-weight: 600;
}

.home-rect h2 {
  color: var(--color-bleu);
  margin-bottom: 3rem;
}

h4 {
  color: var(--color-peche);
}

.search {
  position: relative;
  padding: 10px 2%;
  border: 1px solid var(--color-bleu);
  border-radius: 30px;
  background-color: white;
  display: table;
}

.search-resultat {
  padding: 12px 2%;
  background-color: var(--color-bleu);
}

.search-resultat .input-field-date {
  color: white;
}

.search-resultat .input-text,
.search-resultat .input-text-date {
  color: white;
  border-color: white;
}

.search-resultat .input-text-date {
  max-width: 150px !important;
}

.search-resultat .input-field .material-icons,
.search-resultat .input-field-date .material-icons {
  color: white !important;
}

.search-resultat input::placeholder {
  color: white;
}

.search-resultat .form-search {
  grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
  grid-template-areas: "dep arr fle dates dates bouton";
  justify-items: center;
}

.search-resultat .navbar {
  background-color: transparent !important;
  padding: 0;
}

.search-resultat .dropdown-toggle {
  color: white;
  font-weight: normal;
}

#moteur-recherche .row p {
  margin: 10px 25px;
  font-weight: bold;
}

.form-search {
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(20%) fit-content(5%) fit-content(20%) fit-content(40%) fit-content(15%);
  /*grid-template-columns: 1fr 0.5fr 1fr 2fr 1.6r;*/
  grid-template-rows: 1fr;
  gap: 15px 15px;
  grid-template-areas: "dep fle arr dates dates bouton";
}

.dep {
  grid-area: dep;
}
.fle {
  grid-area: fle;
}
.arr {
  grid-area: arr;
}
.dates {
  grid-area: dates;
}
.bouton {
  grid-area: bouton;
}

@media screen and (min-width: 1200px) {
  .form-search .input-text {
    max-width: 225px;
  }
  .input-field-date {
    max-width: 335px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1025px) {
  .form-search .input-text {
    width: 170px !important;
  }
  .input-field-date {
    width: 335px !important;
  }
}

@media screen and (max-width: 1024px) {
  .form-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: stretch;
    gap: 15px 15px;
    grid-template-areas:
      "dep fle"
      "arr arr"
      "dates dates"
      "bouton bouton";
  }
  .input-text-date {
    width: 48% !important;
  }
}

input::placeholder {
  color: #999999;
}

.input-field {
  align-self: center;
}

.input-field .material-icons {
  position: absolute;
  color: grey;
  padding: 7px 10px;
}

.input-text {
  width: 100%;
  border: 1px solid var(--color-bleu);
  padding: 7px 15px 7px 20px;
  border-radius: 30px;
  background-color: transparent;
}

.form-search .input-text {
  padding-left: 40px !important;
}

.input-field-date {
  border: 1px solid var(--color-bleu);
  border-radius: 30px;
  height: 40px;
  width: 100%;
  color: grey;
}

.input-field-date .material-icons {
  position: absolute;
  color: grey;
  padding: 7px 10px;
}

.input-text-date {
  border: none;
  background-color: transparent;
}

.input-text-datedepart {
  width: 160px;
  padding: 7px 5px 7px 40px;
}
.input-text-datearrivee {
  width: 165px;
  padding: 7px 5px;
}

.double-fleches {
  height: 40px;
  width: 40px;
}

#moteur-recherche #recherche {
  right: 0;
}

.btn {
  margin: 10px !important;
  height: auto !important;
  padding: 0px 15px 0px 0px !important;
}

/* DESTINATIONS POPULAIRES */
.destinationsPopulaires {
  background: linear-gradient(to bottom, var(--color-bleu) 70%, transparent 40%);
  padding: 1% 8%;
  position: relative;
}

.destinationsPopulaires h2 {
  color: white !important;
}

.destinationsPopulaires .cards {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0;
  flex-wrap: wrap;
}

.destinationsPopulaires .card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 30px;
  font-weight: 700 !important;
  color: white !important;
  width: 20em;
  height: 22em;
  background-size: cover;
  margin: 10px 5px;
}

.destinationsPopulaires .card p {
  line-height: 1.2em;
}

.destinationsPopulaires .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.4);
  padding: 0.5rem 1.2rem 1.2rem 1.2rem;
}

.destinationsPopulaires .card .card-body h4 {
  color: white !important;
  margin-bottom: 0 !important;
}

.destinationsPopulaires .card-img-1 {
  background-image: url("../img/destPop_1.png");
}
.destinationsPopulaires .card-img-2 {
  background-image: url("../img/destPop_2.png");
}
.destinationsPopulaires .card-img-3 {
  background-image: url("../img/destPop_3.png");
}
.destinationsPopulaires .card-img-4 {
  background-image: url("../img/destPop_4.png");
}

.destinationsPopulaires .cards-mobile {
  display: none;
  justify-content: center;
  padding: 1% 0;
  flex-wrap: wrap;
}

.card-mobile {
  display: inline-flex;
  color: white;
}

.card-mobile .card .card-body {
  padding: 0.5rem 1.2rem 1.2rem 1.2rem;
}

.card-mobile h4 {
  font-size: 1.1em !important;
}

.destinationsPopulaires .card-mobile .card {
  flex-grow: 0; /* do not grow   - initial value: 0 */
  flex-shrink: 0; /* do not shrink - initial value: 1 */
  flex-basis: 10em; /* width/height  - initial value: auto */
  height: 10em;
}

.destinationsPopulaires .card-mobile .card-mob-text {
  padding: 3em 2em 0 3em;
}

.destinationsPopulaires #ico_transport_white {
  fill: rgba(255, 255, 255, 1);
}
.destinationsPopulaires .ico_voile {
  width: 26px;
  height: 30px;
}
.destinationsPopulaires .ico_train {
  width: 22px;
  height: 30px;
}
.destinationsPopulaires .ico_bus {
  width: 26px;
  height: 30px;
}
.destinationsPopulaires #ico_velo {
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
  stroke-width: 0.5px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.destinationsPopulaires .ico_velo {
  width: 33px;
  height: 30px;
}

.card-title {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: normal;
  margin-bottom: 0.5rem;
}

.card-mob-title {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

@media screen and (max-width: 1620px) and (min-width: 1324px) {
  .destinationsPopulaires .card {
    width: 17em;
    height: 19em;
    margin: 10px 3px;
  }
  .destinationsPopulaires .card p {
    font-size: 12px;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 1324px) and (min-width: 1010px) {
  .destinationsPopulaires .card {
    width: 26em;
    height: 20em;
    margin: 20px 3px;
  }
  .destinationsPopulaires {
    background: linear-gradient(to bottom, var(--color-bleu) 80%, transparent 20%);
  }
}

@media screen and (max-width: 1010px) {
  .cards {
    display: none !important;
  }
  .cards-mobile {
    display: flex !important;
  }
  .destinationsPopulaires {
    background-color: var(--color-bleu);
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 600px) {
  .destinationsPopulaires .card-mobile .card-mob-text {
    padding: 2em 2em 0 3em;
  }
}

@media screen and (max-width: 450px) {
  .destinationsPopulaires .card-mobile .card {
    height: 7em;
    width: 7em;
    flex-basis: 7em;
  }
  .destinationsPopulaires .card-mobile .card-mob-text {
    padding: 1em 0.5em 0 1em;
  }
}

/* NOS VALEURS */
.home-rect {
  padding: 30px 8% 30px 8%;
  position: relative;
}

.home-rect-w {
  background-color: white;
}

.home-rect-g {
  background-color: #f3f3f8;
}

.home-rect-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  padding: 30px auto;
  column-gap: 25px;
  row-gap: 25px;
}

.home-rect-flex .home-rect-txt {
  max-width: 510px;
  min-width: 300px;
}

.home-rect-flex h3 {
  color: var(--color-bleu);
  font-size: 1.3rem;
}

.ensavoirplus {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.ensavoirplus .btn-bleu {
  max-width: 220px;
}

@media screen and (max-width: 1150px) {
  .ensavoirplus {
    align-items: center;
  }
}

.jauges {
  text-align: center;
}

.jauges h3 {
  font-size: 1em;
  margin-bottom: 0;
}

.jauges h6 {
  font-size: 0.8em;
}

.jauges-peche h3,
.jauges-peche .jauges-label,
.jauges-peche .jauges-label-kgpourcent,
.jauges-peche .jauges-source {
  color: var(--color-peche);
}

.jauges-peche h6 {
  color: var(--color-peche-pale);
}

.jauges-bleu h3,
.jauges-bleu .jauges-label,
.jauges-bleu .jauges-label-kgpourcent {
  color: var(--color-bleu);
}

.jauges-bleu h6,
.jauges-bleu .jauges-source {
  color: var(--color-bleu-pale);
}

.jauges-table {
  margin: 5px auto;
}

.jauges-table td {
  padding: 4px 20px;
}

.jauges-label {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  text-decoration: none;
}

.jauges-label-kgpourcent {
  font-weight: 700;
  font-size: 12px;
}

.jauges-text {
  font-size: 12px;
  min-width: 125px;
  max-width: 175px;
}

.jauges-source {
  font-size: 10px;
}

.co2 {
  width: 2em;
}

.jauge {
  width: 1.4em;
}

.partenaires {
  margin-top: -30px;
}

.partenaires h3 {
  margin-bottom: 1em;
}

.partenaires-pic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 1.5em;
  max-width: 450px;
}

.partenaires-pic img {
  height: 80px;
}

.join {
  margin: 20px auto;
  display: inline-flex;
  align-content: center;
  justify-content: space-evenly;
  column-gap: 25px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.join h5 {
  margin: auto;
}

.clients {
  display: flex;
  justify-content: space-evenly;
  column-gap: 15px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.client {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 25px;
}

.client img {
  width: 125px;
  height: 125px;
}

.client-txt {
  max-width: 275px;
}

.newsletter-left .input-text {
  width: 300px;
}

.newsletter-title {
  font-weight: 450;
  padding: 10px 0 23px 0;
}

.newsletter-right {
  flex-grow: 0; /* do not grow   - initial value   : 0 */
  flex-shrink: 0; /* do not shrink - initial value   : 1 */
  flex-basis: 25em; /* width/height  - initial value: auto */
}

.promo {
  color: var(--color-bleu);
  font-weight: 700;
  text-shadow: -3px 0px 0px var(--color-vert-recap);
  padding: 17px 4px;
  line-height: 45px;
}

.promo-1 {
  font-size: 4em;
}

.promo-2 {
  font-size: 2rem;
}

.responsive-mobile {
  display: none !important;
}

@media screen and (max-width: 1150px) {
  .home-rect-flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .home-rect-flex .home-rect-txt {
    max-width: 1200px;
  }
  .partenaires {
    margin-top: 0 !important;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 1080px) {
  .responsive-web {
    display: none !important;
  }
  .responsive-mobile {
    display: flex !important;
  }
  .newsletter-right .input-text {
    width: 200px;
  }
  .newsletter-right {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .newsletter-right {
    flex-shrink: 1;
    justify-content: right;
  }
  .newsletter-right input {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 870px) and (min-width: 600px) {
  .jauges {
    width: 40%;
  }
}

/* PAGE RESULTATS 
--------------------------------------------------------------------------------------------------------------

RECAP RECHERCHE */
.recaps-trajet {
  background-color: var(--color-bleu);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recap {
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: center;
  margin: 5px 0;
  padding-left: 20px;
}

.recap-text {
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.recap-icon {
  color: white;
  cursor: pointer;
  height: 25px;
}
.recap-icon:hover {
  color: var(--color-peche) !important;
  transform: scale(1.5);
}

/* INDICE CARBONE */
.indices-carbone {
  display: grid;
  grid-template-columns: repeat(3, 2fr) 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 0;
  margin: 10px auto;
}
.ind-carbone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 2px 0;
}

.indices-carbone .pos {
  background-color: var(--color-ind-pos);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.indices-carbone .moy1 {
  background-color: var(--color-ind-moy);
}

.indices-carbone .moy2 {
  background-color: var(--color-peche);
  color: white;
}

.indices-carbone .neg {
  background-color: var(--color-ind-neg);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: white;
}

@media (max-width: 830px) {
  .indices-carbone span {
    display: none;
  }
}
@media (max-width: 600px) {
  .indices-carbone {
    padding: 0;
    max-width: 600px !important;
    margin: 10px 0;
  }
  .indices-carbone .pos {
    border-radius: 0;
  }
  .indices-carbone .neg {
    border-radius: 0;
  }
  .nav-transports {
    padding: 0 !important;
    max-width: 600px !important;
    margin: 0 !important;
  }
}

/* FILTRES */

.ico_transport {
  fill: var(--color-peche);
}

.filtres-transports {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  padding-top: 15px;
}
.barre-transports {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  border-bottom: 2px solid var(--color-peche-pale);
}
.barre-transport {
  height: 6px;
  width: 70%;
  border-radius: 10px;
}
.filtre-transport {
  max-width: 125px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
}
.filtre-transport span {
  margin-left: 7px;
}
.filtre-transport .mode-transport .elecvoit {
  margin-left: 10px;
}
.filtre-transport .mode-transport .elecvoit span {
  font-weight: 1 !important;
  margin-left: 0px;
}
.link_elecvoit {
  display: inline-flex;
  align-items: center;
}
.filtre-transport .mode-transport {
  color: var(--color-peche);
  fill: var(--color-peche);
}
.filtre-transport .empty {
  color: #b5b5b5;
  fill: #b5b5b5;
  pointer-events: none;
}
.filtre-transport .selection {
  color: var(--color-bleu);
  fill: var(--color-bleu);
}
.barre-transports .selection {
  background-color: var(--color-bleu);
}

.filtre-transport .ico_velo {
  width: 31.001px;
  height: 20.372px;
}
.filtre-transport .ico_voile {
  width: 19.738px;
  height: 23.028px;
}
.filtre-transport .ico_train {
  width: 16.431px;
  height: 23.004px;
}
.filtre-transport .ico_elecvoit {
  width: 25.714px;
  height: 22.76px;
}
.filtre-transport .ico_bus {
  width: 20.204px;
  height: 23.571px;
}
.filtre-transport .ico_covoit {
  width: 20.204px;
  height: 23.571px;
}
.filtre-transport .ico_avion {
  width: 22.265px;
  height: 22.265px;
}

@media (max-width: 900px) {
  .filtre-transport span,
  .filtre-transport .elecvoit {
    display: none;
  }
}

/* BARRE SELECTION */
.barre-selection {
  display: grid;
  height: 2px;
  background-color: #ffcda8;
}

.barre-selection .selection {
  width: 14%;
  height: 6px;
  background-color: var(--color-bleu);
}

/* RESULTATS */
.page-2 .container {
  max-width: 1400px;
}

@media (max-width: 1200px) {
  .page-2 .container {
    max-width: 1140px;
  }
}
@media (max-width: 992px) {
  .page-2 .container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .page-2 .container {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .page-2 .container {
    max-width: 540px;
  }
}

/* RESULTATS */
.resultats-billets {
  margin: 30px auto;
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
}

.resultats-billets h1 {
  font-family: var(--font-titre);
  font-size: 2em;
  color: var(--color-bleu);
  margin: 40px 0;
}

.resultats-billets .left {
  width: 100%;
}

.resultats-billets .right #map {
  width: 325px;
  height: 550px;
  margin-left: 40px;
}

.les-billets {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.billet {
  display: flex;
  width: 100%;
  border: 0.5px solid var(--color-bleu);
  border-radius: 15px;
  height: 120px;
}

.billet p {
  margin: 0;
  line-height: 13px;
}

.rub {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: black;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.rub5 {
  border-left: 0.5px solid var(--color-bleu);
  width: 160px;
}

.billet .horaires {
  font-weight: 600;
}
.billet .duree {
  font-weight: 600;
  color: var(--color-peche);
}
.billet .horaires p {
  font-weight: 600;
}
.billet .duree p {
  font-weight: 600;
  color: var(--color-peche);
  font-size: 0.8em;
}
.billet .empreinteC {
  display: inline-flex;
  align-items: baseline;
}
.billet .empreinteC .co2 {
  width: 1.6em;
}
.billet .empreinteC .jauge {
  width: 1em;
}
.billet .empreinteC span {
  padding-left: 7px;
}
.billet .infos p {
  max-width: 130px;
  line-height: 14px;
}

.veloVoile {
  color: var(--color-ind-pos);
}
.trainElecVoit {
  color: var(--color-ind-moy);
}
.busCoVoit {
  color: var(--color-peche);
}
.vol {
  color: var(--color-ind-neg);
}

.billet .mobile {
  display: none;
  align-items: normal;
  padding-left: 15px;
}
.billet #rub1 {
  padding-left: 15px;
}
.billet .mobile .empreinteC {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.billet .mobile .empreinteC .co2 {
  width: 1.4em;
}
.billet .mobile .empreinteC .jauge {
  width: 1em;
}
.billet .mobile .empreinteC .jauges-label {
  font-size: 1.2em;
}
.billet .mobile .empreinteC .jauges-label-kgpourcent {
  font-size: 0.8em !important;
}

.billet .zone {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  color: var(--color-bleu);
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.billet .prix {
  border-bottom: 0.5px solid var(--color-bleu);
  font-family: var(--font-titre);
  font-size: 1.5em !important;
  font-weight: 600;
  align-items: flex-end;
  height: 60%;
  padding-bottom: 10px;
}

.billet .plusdedetails {
  align-items: center;
  font-size: medium;
  height: 40%;
}
.billet .material-icons {
  position: relative;
}

@media (max-width: 1100px) {
  .resultats-billets .right #map {
    width: 280px;
  }
}

@media (max-width: 1024px) {
  .resultats-billets .right #map {
    display: none;
  }
}

@media (max-width: 768px) {
  .billet .infos {
    display: none;
  }
}
@media (max-width: 600px) {
  .rub5 {
    width: 110px;
  }
}
@media (max-width: 470px) {
  .billet {
    height: 200px;
  }
  .billet .desktop {
    display: none;
  }
  .billet .mobile {
    display: flex;
  }
}

#resultats-billets {
  margin-top: 40px;
}

#resultats-billets h2 {
  font-family: "Avenir Black", Arial, Sans-serif;
  font-size: 2em;
  color: var(--color-bleu);
  margin-left: 50px;
}

#resultats-billets .les-billets {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 10px 70px;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 60px;
  align-items: flex-end;
}

#resultats-billets .bloc-r {
  grid-column: 2/2;
  width: 80%;
  grid-row: 1/2;
}

#resultats-billets .flex {
  display: flex;
  flex-wrap: wrap;
}

#resultats-billets .flex a {
  padding: 10px 15px 10px 15px;
  text-align: center;
  margin: 15px auto 0px auto;
}

#resultats-billets .flex a:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

#resultats-billets .carte-trajet {
  max-height: 350px;
  max-width: 100%;
  margin-top: -100px;
}

/* PAGE SELECTION BILLETS 
--------------------------------------------------------------------------------------------------------------

RECAP ETAPES*/
.recap-etapes {
  background-color: var(--color-bleu);
}

.recap-etapes .container {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: space-between;
}

.recap-etapes a {
  max-height: 68px;
  display: inline-flex;
  flex-wrap: nowrap;
}

.recap-etapes a:hover {
  text-decoration: none;
}

.recap-etapes #container-pay .a4-p {
  opacity: 1;
}

.recap-etapes #container-infos .a4-i {
  opacity: 70%;
  cursor: default;
}

.recap-etapes #container-pap .a3-p,
.a4-p {
  opacity: 70%;
  cursor: default;
}

.recap-etapes #container-options .a2-o,
.a3-o,
.a4-o {
  opacity: 70%;
  cursor: default;
}

.text-recap-e {
  color: #ffffff;
  margin: auto 0px auto 0px;
  text-align: center;
  width: fit-content;
}

.recap-etapes .num-e {
  background-color: #ffffff;
  color: var(--color-bleu);
  padding: 10px 17px 10px 17px;
  font-family: "Avenir Black", Arial, Sans-serif;
  border-radius: 2rem;
  max-height: 44px;
  max-width: 44px;
  margin: auto 15px auto 0px;
}

.recap-etapes .next {
  min-width: 15px;
  min-height: 15px;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: auto 10px auto 0px;
}

/* SECTION OPTIONS */
.options-billets .billet1 {
  grid-column: 1;
  grid-row: 2/4;
  padding: 20px;
}

.options-billets .tarifs .services {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
}

.options-billets .tarifs .place {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
  font-size: 0.8em;
}

.options-billets .tarifs .row1 {
  justify-content: space-between;
  align-items: center;
}

.options-billets .tarifs .row1 .row {
  align-items: baseline;
}

.options-billets .tarifs .row1 .titre h5 {
  margin-bottom: 0px;
}

.options-billets .tarifs .row1 .row .SNCF {
  margin-right: 15px;
}

.options-billets .tarifs .row1 .row .Eurostar {
  margin-right: 15px;
}

.options-billets .tarifs .row1 .row p {
  font-weight: bold;
}

.options-billets .tarifs .flex-nw .bloc {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-bleu);
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  min-height: 100px;
  width: 10px;
  flex-grow: 1;
  position: relative;
}

.options-billets .tarifs .flex-nw .bloc:hover {
  background-color: #f3f3f8;
}

.selected {
  background-color: #f3f3f8;
}

/*
.options-billets .tarifs .flex-nw .bloc input:target {
  background-color: red!important;
}*/

.options-billets .tarifs .flex-nw .bloc input {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: transparent;
  border-style: none;
}

.options-billets .tarifs .row .bloc p {
  text-align: center;
  padding-left: 40px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.options-billets .bagages {
  margin-top: 20px;
  margin-bottom: 20px;
}

.options-billets .bagages .conteneur .images-b {
  display: flex;
  justify-content: center;
}

.options-billets .bagages .row2a {
  flex-wrap: nowrap;
  display: flex;
}

.options-billets .bagages .row2a .ajout {
  display: flex;
  flex-wrap: wrap;
}

.options-billets .bagages .row2a .ajout .row2b {
  width: 100%;
  align-self: center;
  justify-content: space-evenly;
}

.options-billets .bagages .row2a .ajout .row3b {
  flex-wrap: nowrap;
  align-self: flex-end;
  margin: 0px auto 10px auto;
}

.options-billets .bagages .row2a .ajout .row2b .plus {
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  color: var(--color-bleu);
  background-color: transparent;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  border-style: solid;
  margin-bottom: 0px;
}

.options-billets .bagages .row2a .ajout .row2b .moins {
  border-radius: 2em;
  border-width: 1px;
  border-color: #e3e3e3;
  color: #e3e3e3;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-style: solid;
  margin-bottom: 0px;
}

.options-billets .bagages .row2a .ajout .row2b .nombre-b {
  color: var(--color-bleu);
  font-size: 1.7em !important;
  font-weight: 500;
  margin-bottom: 0px;
  align-self: center;
}

.options-billets .bagages .row3b {
  flex-wrap: nowrap;
}

.options-billets .bagages .row3b p {
  white-space: nowrap;
}

.options-billets .billet2 {
  grid-column: 1;
  grid-row: 4/7;
  margin-bottom: 40px;
  padding: 20px;
}

.options-billets .recup-billet {
  width: 100%;
}

@media (min-width: 1200px) {
  .bagages .conteneur img {
    max-width: 200px !important;
    max-height: 200px !important;
  }
  .options-billets .bagages {
    margin-top: 70px !important;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .options-billets .bagages .conteneur {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .options-billets .tarifs .a-standard {
    margin-right: 25px;
  }
  .options-billets .tarifs .a-prise {
    margin-right: 25px;
  }
  .options-billets .tarifs .a-premiere {
    margin-right: 25px;
  }
  .options-billets .bagages .conteneur {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 0.9em !important;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .options-billets .billet1 {
    margin-bottom: 20px !important;
  }
  .options-billets .billet2 {
    margin-bottom: 20px !important;
  }
  .options-billets .tarifs .a-standard {
    margin-right: 10px;
  }
  .options-billets .tarifs .a-prise {
    margin-right: 10px;
  }
  .options-billets .tarifs .a-premiere {
    margin-right: 10px;
  }
}

@media (min-width: 430px) {
  .options-billets .bagages .conteneur .images-b {
    flex-wrap: nowrap;
  }
}

@media (min-width: 0px) and (max-width: 430px) {
  .bagages img {
    max-width: 120px;
  }
}

/* PAGE - PORTE A PORTE 
--------------------------------------------------------------------------------------------------------------*/
.porte-a-porte .choix-depart {
  grid-column: 1;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
}

.porte-a-porte .choix-depart .flex-nw {
  width: 100%;
}

.porte-a-porte .choix-depart .flex-nw .bloc {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-bleu);
  border-width: 1px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  min-height: 130px;
  width: 10px;
  flex-grow: 1;
  position: relative;
}

.porte-a-porte .choix-depart .flex-nw .bloc:hover {
  background-color: #f3f3f8;
}

.porte-a-porte .choix-depart .flex-nw .bloc input {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: transparent;
  border-style: none;
}

.porte-a-porte .choix-depart .flex-nw .bloc p {
  text-align: center;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .porte-a-porte .choix-depart {
    margin-right: 25px;
  }
  .porte-a-porte {
    margin-top: 45px;
  }
  .porte-a-porte .choix-depart .a-standard {
    margin-right: 25px;
  }
  .porte-a-porte .choix-depart .a-prise {
    margin-right: 25px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .porte-a-porte {
    margin-top: 0px !important;
  }
  .porte-a-porte .choix-depart {
    margin-bottom: 20px;
  }
  .porte-a-porte .valider {
    border-radius: 0px !important;
    margin-top: 0px !important;
  }

  .porte-a-porte .choix-depart .a-standard {
    margin-right: 10px;
  }
  .porte-a-porte .choix-depart .a-prise {
    margin-right: 10px;
  }
}

/* a effacer

@media (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 0.9em !important;
  }
}
*/
/* PAGE - INFOS PERSOS 
--------------------------------------------------------------------------------------------------------------*/
.infos-persos .creer-compte {
  grid-column: 1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.infos-persos .creer-compte .col-l {
  margin-right: 10px;
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
}

.infos-persos .creer-compte .col-l .text {
  margin-right: 5px;
  margin-bottom: 0px;
}

.infos-persos .creer-compte .col-r {
  display: flex;
  align-items: center;
}

.infos-persos .creer-compte .col-r .bouton {
  padding: 10px 15px 10px 15px;
  text-align: center;
}

.infos-persos .creer-compte .col-r .bouton:hover {
  background-color: #f0856b;
  color: #ffffff !important;
  text-decoration: none;
}

.infos-persos .formulaire {
  grid-column: 1;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.infos-persos .formulaire .ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.infos-persos .formulaire .ligne2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.infos-persos .formulaire .ligne2 p {
  margin-bottom: 0px;
}

.infos-persos .formulaire .ligne2 input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #13090f;
}

.infos-persos .formulaire .cols {
  display: flex;
  flex-wrap: nowrap;
}

.infos-persos .formulaire .cols .ligne {
  margin-top: 20px;
}

.infos-persos .formulaire .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.infos-persos .formulaire .col-l input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.infos-persos .formulaire .cols .col-r {
  display: flex;
  flex-wrap: wrap;
}

.infos-persos .formulaire .col-r input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.infos-persos .formulaire .ligne3 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  justify-content: flex-start;
}

.infos-persos .formulaire .ligne3 input {
  border-radius: 200px;
  border-width: 1px;
  border-color: var(--color-bleu);
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.infos-persos .formulaire .ligne3 label {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .infos-persos .creer-compte {
    margin-right: 25px;
  }
  .infos-persos .formulaire {
    margin-right: 25px;
    margin-top: 40px;
  }
  .i_p {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .infos-persos {
    margin-top: 0px !important;
  }
  .infos-persos .creer-compte {
    margin-bottom: 20px;
  }
  .infos-persos .formulaire {
    margin-bottom: 20px;
  }
  .infos-persos .valider {
    border-radius: 0px !important;
    margin-top: 0px !important;
  }
}

/* PAGE - PAIEMENT 
--------------------------------------------------------------------------------------------------------------*/
.paiement .row2 {
  grid-column: 1/2;
  grid-row: 2/7;
}

.paiement .code-promo {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.paiement .code-promo .col-r {
  justify-self: end;
}

.paiement .code-promo input {
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #13090f;
  margin-right: 10px;
}

.paiement .code-promo .codepromo {
  padding: 5px 15px 5px 15px;
  text-align: center;
  border: none;
}

.paiement .code-promo .codepromo:hover {
  background-color: #f0856b;
  color: #ffffff !important;
  text-decoration: none;
  border: none;
}

.paiement .mode-paiement {
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  width: -webkit-fill-available;
}

.paiement .mode-paiement .flex1 {
  display: flex;
  flex-wrap: wrap;
}

.paiement .mode-paiement .flex1 .moyen {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 15px;
}

.paiement .mode-paiement .flex1 .moyen input {
  margin-right: 10px;
}

.paiement .mode-paiement .cols {
  display: flex;
  flex-wrap: nowrap;
}

.paiement .mode-paiement .cols .ligne {
  margin-top: 20px;
  width: 100%;
}

.paiement .mode-paiement .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  width: 100%;
}

.paiement .mode-paiement .cols .col-l input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.paiement .mode-paiement .cols .col-r {
  display: flex;
  flex-wrap: wrap;
}

.paiement .mode-paiement .col-r input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.paiement .formulaire2 {
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.paiement .formulaire2 .ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.paiement .formulaire2 .ligne2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.paiement .formulaire2 .ligne2 p {
  margin-bottom: 0px;
}

.paiement .formulaire2 input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #13090f;
}

.paiement .formulaire2 .cols {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.paiement .formulaire2 .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  flex-grow: 1;
  margin-top: 20px;
}

.paiement .formulaire2 .cols .col-l #top {
  margin-top: 20px;
}

.paiement .formulaire2 .cols .col-r {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 20px;
  align-content: first baseline;
}

@media (min-width: 768px) {
  .paiement .formulaire2 {
    margin-right: 25px;
  }
  .paiement .mode-paiement {
    margin-right: 25px;
  }
  .paiement .code-promo {
    margin-right: 25px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .paiement .valider {
    margin-top: 0px !important;
    border-radius: 0px !important;
  }
  .paiement .mode-paiement {
    margin-top: 20px !important;
  }
  .paiement .formulaire2 {
    margin-top: 20px !important;
  }
}

/* PAGE - CONFIRMATION RESERVATION
--------------------------------------------------------------------------------------------------------------*/
.confirmation-reservation .main {
  text-align: center;
  margin-top: 20px;
}

.confirmation-reservation .main img {
  max-width: 110px;
}

.confirmation-reservation .main h2 {
  margin: 25px auto 15px auto;
}

.confirmation-reservation .confirmation-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  width: 100%;
}

.confirmation-reservation .confirmation-grid .left {
  grid-column: 1/2;
  grid-row: 1;
}

.confirmation-reservation .confirmation-grid .confirmation-text {
  color: var(--color-bleu);
  font-weight: 700;
}

.confirmation-reservation .confirmation-grid .left .indicateurs {
  display: flex;
  flex-wrap: nowrap;
}

.confirmation-bouton-confirmer {
  background-image: url(../img/illu_van.svg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: left 50% bottom -50px;
  margin-top: -55px;
}

.confirmation-bouton-confirmer .bouton {
  height: 400px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.confirmation-bouton-confirmer .retour-accueil-confirmation {
  padding: 12px 60px;
  margin: 0 auto 60px auto;
  text-align: center;
}

.confirmation-bouton-confirmer .retour-accueil-confirmation:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

.confirmation-reservation .confirmation-grid .left .indicateurs .bloc {
  text-align: center;
}

.confirmation-reservation .confirmation-grid .left .indicateurs .indicateurs-ic {
  height: 35px;
}

.confirmation-reservation .confirmation-grid .left .indicateurs p {
  margin-bottom: 0px;
}

.confirmation-reservation .confirmation-grid .right {
  grid-column: 2/2;
  grid-row: 1;
  justify-self: end;
}

.confirmation-reservation .confirmation-grid .left .jauges-table {
  margin: 15px 0;
}
.confirmation-reservation .confirmation-grid .left .jauges-table img {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px 0 20px 0;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton:hover {
  background-color: var(--color-ind-moy);
  color: #ffffff !important;
  text-decoration: none;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton img {
  height: 30px;
  margin-right: 5px;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton p {
  vertical-align: middle;
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  .confirmation-reservation .confirmation-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }
  .confirmation-reservation .confirmation-grid .left {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
  .confirmation-reservation .confirmation-grid .right {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }
  .confirmation-bouton-confirmer {
    background-position: left 55% bottom -70px;
  }
  .confirmation-bouton-confirmer .bouton {
    height: 250px;
    align-items: center;
  }
  .confirmation-reservation .main img {
    max-width: 70px;
  }
  .confirmation-reservation .main h2 {
    margin: 20px auto 15px auto;
  }
}

/*PAGE 404
--------------------------------------------------------------------------------------------------------------*/
.erreur404 {
  min-height: 80vh;
  height: 100%;
  width: 100%;
}

.erreur404 h2 {
  margin-bottom: Opx !important;
  font-family: var(--font-titre);
  font-weight: 600;
}

.erreur404 .conteneur {
  padding: 0 8%;
}

.erreur404 .conteneur .contenu {
  flex-wrap: wrap;
  justify-content: center;
}

.erreur404 .conteneur .contenu .img404 {
  margin-top: 40px;
  max-height: 10vh;
}

.erreur404 .conteneur .contenu p {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 1.4em !important;
  color: var(--color-vert-recap);
  z-index: 2;
}

.erreur404 .conteneur .contenu .illu-404 {
  position: absolute;
  bottom: -90px;
  width: 100%;
}

.background404 {
  background-image: url("../img/illu_404.png");
  background-position: 100% 65%;
  background-repeat: repeat;
  background-size: cover;
  height: 80%;
}

/*CLASSES COMMUNES POUR PAGES ETAPES RESERVATION (Options billets, infos persos, etc.) 
--------------------------------------------------------------------------------------------------------------*/
.recap-t .ligne2 .bloc3 .s-ligne1 .u1 {
  text-align: right;
}

.recap-t .ligne2 .bloc3 .s-ligne1 .u2 {
  text-align: right !important;
}

.recap-t .ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.recap-t .ligne1 .col-l {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.recap-t .ligne1 .col-l h5 {
  margin-right: 10px;
}

.recap-t .ligne1 .col-l img {
  transform: scale(0.8);
}

.recap-t .ligne1 .col-r {
  display: flex;
}

.recap-t .ligne1 .col-r p {
  font-size: 1.1em;
  margin-bottom: 0px;
}

.recap-t .ligne2 {
  display: flex;
  flex-wrap: nowrap;
}

.recap-t .ligne2 .bloc1,
.bloc3 {
  flex-grow: 2;
  padding: 5px;
}

.recap-t .ligne2 .bloc2 {
  flex-grow: 1;
  text-align: center;
}

.recap-t .ligne2 .bloc1 .s-ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.recap-t .ligne2 .bloc1 .s-ligne2 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.recap-t .ligne2 .bloc1 .s-ligne2 .circle-l {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 1em;
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 5px;
  z-index: 2;
  position: absolute;
}

.recap-t .ligne2 .bloc1 .s-ligne2 .blue-bar {
  width: 98%;
  height: 10px;
  background-color: var(--color-bleu);
  left: 0;
  position: absolute;
  z-index: 1;
  left: 3px;
  margin-top: 3px;
}

.recap-t .ligne2 .bloc1 .s-ligne2 .circle-r {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 5px;
  right: 0;
  position: absolute;
  z-index: 2;
}

.recap-t .ligne2 .bloc1 .s-ligne3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.recap-t .ligne2 .bloc1 .s-ligne3 .compagnie {
  text-align: center;
}

.recap-t .ligne2 .bloc1 .s-ligne3 .compagnie p {
  margin-bottom: 0px;
  color: #398aff;
}

.recap-t .ligne2 .bloc2 p {
  margin-bottom: 0px;
  font-size: 0.8em;
}

.recap-t .ligne2 .bloc3 .s-ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.recap-t .ligne2 .bloc3 .s-ligne2 {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.recap-t .ligne2 .bloc3 .s-ligne2 .circle-l {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 1em;
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 5px;
  z-index: 2;
  position: absolute;
}

.recap-t .ligne2 .bloc3 .s-ligne2 .blue-bar {
  width: 98%;
  height: 10px;
  background-color: var(--color-bleu);
  left: 0;
  position: absolute;
  z-index: 1;
  left: 3px;
  margin-top: 3px;
}

.recap-t .ligne2 .bloc3 .s-ligne2 .circle-r {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 5px;
  right: 0;
  position: absolute;
  z-index: 2;
}

.recap-t .ligne2 .bloc3 .s-ligne3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.recap-t .ligne2 .bloc3 .s-ligne3 .compagnie {
  text-align: center;
}

.recap-t .ligne2 .bloc3 .s-ligne3 .compagnie p {
  margin-bottom: 0px;
  color: #398aff;
}

.impact-ecolo h4 {
  color: #13090f;
  font-size: 1.3rem;
}

.impact-ecolo .conteneur {
  background-color: var(--color-ind-moy);
  padding: 20px;
  border-radius: 20px;
}

.impact-ecolo .columns-ecolo {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.impact-ecolo .columns-ecolo .column-ecolo {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.impact-ecolo .columns-ecolo .column-ecolo p {
  font-size: 0.7em !important;
  text-align: center;
  min-width: 0;
}
.impact-ecolo .columns-ecolo .column-ecolo .empreinteC {
  display: inline-flex;
  flex-direction: row;
  height: 35px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
.impact-ecolo .columns-ecolo .column-ecolo .empreinteC span {
  padding: 0 5px;
}

.impact-ecolo .separateur {
  height: 1px;
  background-color: var(--color-bleu);
  margin-top: 20px;
}

.recap-b h5 {
  margin-bottom: 20px;
}

.recap-b .row {
  justify-content: space-between;
}

.recap-b .row1 p {
  margin-bottom: 0px;
}

.recap-b .row3 p {
  margin-bottom: 0px;
}

.recap-b .row4 p {
  margin-bottom: 0px;
}

.recap-b .row .text-option {
  margin-left: 15px;
}

.row3m {
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: max-content;
}

.accordion {
  width: 100%;
  border-style: hidden;
  text-align: left;
  outline: none;
  transition: 0.4s;
  background-color: #f3f3f8;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.accordion h5 {
  margin-bottom: 0px;
}

.accordion .ico {
  display: block;
}
.accordion .ico2 {
  display: none;
}

.active,
.accordion:hover {
  background-color: #f3f3f8;
}

.active .ico {
  display: none !important;
}
.active .ico2 {
  display: block !important;
}

.row3m .modalités .panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s ease-out;
}

.modalités-r {
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  margin-bottom: 20px;
}

.row3m p {
  color: #264abd;
  margin-bottom: 0px;
}

.modalités-r p {
  color: #264abd;
  margin-bottom: 0px;
}

.row3m .billet2-m {
  margin-top: 15px;
}

.modalités-r .billet2-m {
  margin-top: 15px;
}

.valider {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  display: block;
  align-self: center;
}

.valider:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

.selected {
  background-color: #f3f3f8;
}

@media (min-width: 768px) {
  .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 75% 25%;
    grid-gap: 40px 0px;
    grid-auto-rows: minmax(10px, auto);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .recap-t {
    grid-column: 1;
    grid-row: 1/2;
    padding: 20px;
    margin-right: 25px;
  }
  .impact-ecolo {
    grid-column: 2;
    grid-row: 1;
  }
  .grid-row2 {
    grid-column: 2;
    grid-row: 2;
  }
  .recap-b {
    padding: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #13090f;
  }
  .row3m {
    margin-top: 20px;
  }
  .modalités-r {
    display: none;
  }
  .options-billets .billet1,
  .billet2 {
    margin-right: 25px;
  }
  .recap-etapes .container {
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: space-between;
  }
  .recap-etapes .titre-r {
    display: none;
  }
  .impact-ecolo {
    grid-column: 2/2;
    grid-row: 1;
  }
  .bloc2-r {
    display: none;
  }
  .recap-etapes .previous {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
  .wrapper {
    grid-gap: 20px 0px !important;
    max-width: 768px;
    grid-template-columns: 70% 30% !important;
  }
  .recap-t .ligne1 .col-r p {
    font-size: 1em !important;
  }
  .recap-t .ligne2 .bloc2 p {
    width: 100%;
  }
  .impact-ecolo .columns-ecolo {
    flex-direction: column;
    margin-top: 0;
  }
  .impact-ecolo .columns-ecolo .column-ecolo {
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
  .impact-ecolo .columns-ecolo .column-ecolo p {
    margin-bottom: 0;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-gap: 0px;
    margin-top: 20px;
  }
  .recap-t {
    grid-column: 1;
    grid-row: 1/2;
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
  }
  .impact-ecolo {
    display: none;
  }
  .grid-row2 {
    position: sticky;
    bottom: 0px;
  }
  .recap-b {
    grid-column: 1;
    padding: 15px;
    border-radius: 0px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #13090f;
    bottom: 45px;
    background-color: #ffffff;
    box-shadow: 0 -25px 0 white;
  }
  .recap-b p {
    font-size: 0.8em !important;
    margin-bottom: 0px !important;
  }
  .row3m {
    grid-column: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    bottom: 0px;
  }
  .accordion h5 {
    font-size: 0.8em !important;
  }
  .recap-etapes .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .recap-etapes .a {
    display: none;
  }
  .text-recap-e {
    display: none;
  }
  .recap-etapes .num-e {
    display: none;
  }
  .recap-etapes .next {
    display: none;
  }
  .recap-etapes .container .previous {
    text-decoration: none;
    margin-right: 20px;
    position: absolute;
    left: 10px;
  }
  .recap-etapes .container img:hover {
    transform: scale(1.5);
  }
  .recap-etapes .titre-r {
    color: #ffffff;
    text-align: center;
  }
  .recap-t .ligne1 {
    flex-wrap: wrap !important;
  }
  .recap-t .ligne2 .compagnie p {
    display: none;
  }
  .recap-t .ligne2 .bloc1 .s-ligne3 .compagnie p {
    font-size: 0.75em;
  }
  .recap-b h5 {
    display: none;
  }
  .row3m {
    display: none;
  }
  .recap-t .ligne1 .col-l img {
    transform: scale(0.7) !important;
    margin-right: 10px;
    margin-bottom: 0.5rem;
  }
  .recap-t .ligne1 .col-r p {
    font-size: 0.9em !important;
    text-align: center;
  }
  .recap-t .ligne2 .bloc1,
  .bloc3 {
    width: 100%;
    padding: 5px;
    transform: scale(0.8);
  }
  .recap-t .ligne2 .bloc {
    margin-bottom: 20px;
  }
  .recap-t .ligne2 .bloc2 {
    align-self: center;
    min-width: max-content;
  }
  .recap-t .ligne2 .bloc2 .p1,
  .p4 {
    display: none;
  }
  .bloc2-r {
    display: flex;
    align-items: center;
  }
  .bloc2-r .ligne3-r p {
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    align-self: flex-end;
  }
  .bloc2-r .ligne3-r img {
    transform: scale(0.9);
  }
  .bloc2-r .ligne3-r .f1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  .bloc2-r .ligne3-r .f2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  .options-billets .tarifs .row1z {
    /*justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px;*/
    transform: scale(0.8);
  }

  .options-billets .tarifs .row .bloc {
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }
  .options-billets .valider {
    margin-top: 0px !important;
    border-radius: 0px !important;
  }
  .page-3 .footer {
    display: none;
  }
  .page-4 .footer {
    display: none;
  }
  .page-5 .footer {
    display: none;
  }
  .page-6 .footer {
    display: none;
  }
}
