/*
Couleurs Charte graphique :

Couleurs principales :
Peche : #f0856b;
Bleu foncé : #264abd;

Couleurs secondaires : 
gris clair : #f3f3f8;
bleu pâle : #3a8bff;
blanc beige : #fffaf8;
pêche clair : #ffcda8;
vert clair : #eeffe4;
vert pomme : #c8ff54;
bleu vert : #26e8bd;
Blanc : #ffffff;
Gris : #d4d2dc;
Noir : #140a0f; 

*/
:root {
  --font-text: Avenir, Arial;
  --font-titre: Montserrat, Arial;

  --color-peche: #f0856a;
  --color-bleu: #264abd;

  --size-border-radius: 15px;
}

html {
  font-family: var(--font-text);
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: var(--font-text) !important;
}

p {
  font-family: var(--font-text);
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
}

.dot {
  font: var(--font-titre);
  font-size: 50px;
  color: var(--color-peche);
  margin-left: 4px;
}

.cookies {
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0;
  margin: 0;
  background-color: var(--color-bleu);
  height: 60px;
}

.lblcookies {
  color: rgba(255, 255, 255, 1);
  padding: 10px 30px;
  font-size: 12px;
  margin: 0 !important;
}

.cookies svg {
  margin-right: 30px;
  width: 20px;
  fill: white;
}

.test {
  margin-left: 50px;
}

.resultats-billets,
.infos-persos,
.porte-a-porte,
.paiement,
.confirmation-reservation {
  margin-top: 45px;
}

.bouton-peche {
  background-color: #f0856b;
  color: #ffffff !important;
  border-radius: 2rem;
}

.bouton-bleu {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  border-radius: 2rem;
}

.bleu-fp {
  color: var(--color-bleu) !important;
}
.peche-fp {
  color: #f0856b;
}

.btn-orange {
  background-color: #f0866b;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-orange:hover {
  background-color: #f99b83;
}
.btn-orange:active {
  position: relative;
  top: 1px;
}

.btn-blue {
  background-color: var(--color-bleu);
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-blue:hover {
  background-color: #3f62d3;
}
.btn-blue:active {
  position: relative;
  top: 1px;
}

.border-fp {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-bleu);
  border-width: 1px;
}

.small-p {
  font-size: 0.9em;
}

.bold {
  font-family: "Avenir Black", Arial, Sans-serif !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/*MENU*/
.navbar .navbar-brand {
  max-width: 150px;
}

.navbar {
  padding: 20px 10%;
  background-color: white;
}

.nav {
  flex-wrap: nowrap;
}

#menu {
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .navbar li {
    min-width: fit-content;
  }
}

.nav .bouton-peche {
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 2rem !important;
}

.nav .bouton-peche:hover {
  background-color: var(--color-bleu);
  color: #ffffff;
}

.navbar .nav-link {
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.navbar .nav-link-style {
  color: var(--color-bleu) !important;
}

.navbar-toggler {
  color: #fff !important;
  border-style: none;
}

/*MOTEUR RECHERCHE*/
#moteur-recherche {
  padding: 2em 1em;
  background-image: url("../img/rect.png") !important;
  background-position: 40% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

#moteur-recherche h1,
#moteur-recherche h4 {
  padding: 0 8%;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

h1 {
  color: var(--color-bleu);
  font-family: var(--font-titre);
  font-weight: 600;
}

h2 {
  color: var(--color-bleu);
  font-family: var(--font-titre);
  font-weight: 600;
}

h4 {
  color: var(--color-peche);
}

.search {
  position: relative;
  padding: 10px 2%;
  margin: 50px auto 0 auto;
  border: 1px solid var(--color-bleu);
  border-radius: 30px;
  background-color: white;
}

#moteur-recherche .row p {
  margin: 10px 25px;
  font-weight: bold;
}

#moteur-recherche .row .input-text {
  margin: 0px 5px;
  max-width: 225px;
  border: 1px solid var(--color-bleu);
  padding: 7px 15px;
  border-radius: 30px;
}

#moteur-recherche #recherche {
  color: white;
}

.btn {
  margin: 10px !important;
  height: auto !important;
  padding: 0px 12px 0px 12px !important;
}

/* Destinations Populaires */
.destinationsPopulaires {
  background: linear-gradient(to bottom, var(--color-bleu) 70%, transparent 40%);
  padding: 1% 8%;
  position: relative;
  margin: 0 auto;
}

.destinationsPopulaires h2 {
  color: white !important;
}

.destinationsPopulaires .cards {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0;
  flex-wrap: wrap;
}

.destinationsPopulaires .card {
  background-color: transparent !important;
  border: none !important;
  border-radius: 30px;
  font-weight: 700 !important;
  color: white !important;
  width: 20em;
  height: 22em;
  background-size: cover;
  margin: 10px 10px;
}

.destinationsPopulaires .card p {
  line-height: 1.2em;
}

@media screen and (max-width: 1620px) {
  .destinationsPopulaires .card {
    width: 15em;
    height: 17em;
    margin: 10px 5px;
  }

  .destinationsPopulaires .card p {
    font-size: 12px;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 1190px) {
  .card-img-4 {
    display: none;
  }
}

.destinationsPopulaires .card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: inset 0px 0px 0px 200px rgba(0, 0, 0, 0.3);
}

.destinationsPopulaires .card .card-body h4 {
  color: white !important;
  margin-bottom: 0 !important;
}

.destinationsPopulaires .card-img-1 {
  background-image: url("../img/destPop_1.png");
}
.destinationsPopulaires .card-img-2 {
  background-image: url("../img/destPop_2.png");
}
.destinationsPopulaires .card-img-3 {
  background-image: url("../img/destPop_3.png");
}
.destinationsPopulaires .card-img-4 {
  background-image: url("../img/destPop_4.png");
}

/*VALEURS*/
.home-rect {
  padding: 2% 8%;
  position: relative;
  margin: 0 auto;
}
.home-rect-w {
  background-color: white;
}
.home-rect-g {
  background-color: #f3f3f8;
}
.home-rect-flex {
  display: flex;
  justify-content: space-between;

  padding: 25px 0;
}
.home-rect-flex .home-rect-txt {
  display: relative;
  width: 510px;
}
.home-rect-flex h3 {
  color: var(--color-bleu);
  font-size: 1.3rem;
}

.jauge {
  text-align: center;
}
.jauge h3 {
  margin-bottom: 0rem;
}
.jauge h6 {
  font-size: 0.9em;
}

/*PAGE RESULTATS */

/* RECAP RECHERCHE */
.recaps-trajet {
  background-color: var(--color-bleu);
}

.recaps-trajet .conteneur {
  display: flex;
  background-color: none;
}

.recaps-trajet .bouton-peche {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 1.5rem !important;
  margin-top: 1rem;
}

.recaps-trajet .bouton-peche:hover {
  background-color: var(--color-bleu);
  color: #ffffff;
}

.recap {
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: center;
}

.recaps-trajet .depart {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-width: thin;
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  max-width: 250px;
  margin-right: 40px;
}

.recaps-trajet .arrivee {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-width: thin;
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  max-width: 250px;
}

.text-recap {
  color: #ffffff;
  margin-top: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*INDICE CARBONE*/

.indice-carbone .container {
  display: flex;
  margin-top: 1rem;
  border-radius: 1.5rem;
}

.indice-carbone .indice {
  flex-wrap: nowrap;
  flex-grow: 1;
}

.indice-carbone .positif {
  background-color: #c8ff54;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 0.5rem;
}
.indice-carbone .moyen1 {
  background-color: #26e8bd;
  padding: 0.5rem;
}
.indice-carbone .moyen2 {
  background-color: #f0856b;
  padding: 0.5rem;
}
.indice-carbone .moyen2 p {
  color: #ffffff;
}
.indice-carbone .negatif {
  background-color: #140a0f;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem;
}
.indice-carbone .negatif p {
  color: #ffffff;
}

.indice-carbone p {
  margin-bottom: 0px;
  font-family: "Avenir Medium", Arial, Sans-serif;
  font-size: 0.6rem;
  text-align: center;
}

/*FILTRES */
#mode-transport .mode-transport {
  font-family: "Avenir Black", Arial, Sans-serif;
  color: #f0856b;
}

#filtresTransport {
  display: flex;
  list-style: none;
  width: 100%;
  margin-top: 3rem;
}

#filtresTransport .filtre-transport {
  flex-grow: 1;
}

/* BARRE SELECTION */
.barre-selection {
  width: 100%;
  display: flex;
  height: 5px;
  background-color: #ffcda8;
}

.barre-selection .selection {
  flex-grow: 1;
  flex-wrap: nowrap;
}

/*RESULTATS*/

#resultats-billets {
  margin-top: 40px;
}

#resultats-billets h2 {
  font-family: "Avenir Black", Arial, Sans-serif;
  font-size: 2em;
  color: var(--color-bleu);
  margin-left: 50px;
}
#resultats-billets .les-billets {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-gap: 10px 70px;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 60px;
  align-items: flex-end;
}

#resultats-billets .bloc-r {
  grid-column: 2/2;
  width: 80%;
  grid-row: 1/2;
}

#resultats-billets .flex {
  display: flex;
  flex-wrap: wrap;
}

#resultats-billets .flex a {
  padding: 10px 15px 10px 15px;
  text-align: center;
  margin: 15px auto 0px auto;
}

#resultats-billets .flex a:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

#resultats-billets .carte-trajet {
  max-height: 350px;
  max-width: 100%;
  margin-top: -100px;
}

.billet {
  display: flex;
  width: 100%;
  background-color: white;
  border: 0.5px solid var(--color-bleu);
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 15px;
  grid-column: 1;
}

.rub {
  flex-grow: 1;
  min-width: fit-content;
  padding: 10px;
}

.rub5 {
  border-left: 0.5px solid var(--color-bleu);
}

.billet .p {
  padding: 10px;
  font-family: "Avenir Medium", Arial, Sans-serif;
  font-size: 0.8em;
}

.billet .p9 {
  font-family: "Avenir Black", Arial, Sans-serif !important;
  font-size: 1.1em;
  color: var(--color-bleu);
  text-align: center;
}

.billet .p10 {
  border-top: 0.5px solid var(--color-bleu);
}

/* PAGE SELECTION BILLETS */

/* RECAP ETAPES*/

.recap-etapes {
  background-color: var(--color-bleu);
}

.recap-etapes .container {
  display: flex;
  padding-top: 13px;
  padding-bottom: 13px;
  justify-content: space-between;
}

.recap-etapes a {
  max-height: 68px;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 170px;
}

.recap-etapes a:hover {
  text-decoration: none;
}

.recap-etapes #container-infos .a4-i {
  opacity: 70%;
}

.recap-etapes #container-pap .a3-p,
.a4-p {
  opacity: 70%;
}

.recap-etapes #container-options .a2-o,
.a3-o,
.a4-o {
  opacity: 70%;
}

.text-recap-e {
  color: #ffffff;
  margin: auto 0px auto 0px;
  text-align: center;
  width: fit-content;
}

.recap-etapes .num-e {
  background-color: #ffffff;
  color: var(--color-bleu);
  padding: 10px 17px 10px 17px;
  font-family: "Avenir Black", Arial, Sans-serif;
  border-radius: 2rem;
  max-height: 44px;
  max-width: 44px;
  margin: auto 15px auto 0px;
}

.recap-etapes .next {
  min-width: 15px;
  min-height: 15px;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: auto 10px auto 0px;
}

/* OPTIONS */

/*div class="recap-t"></div>
                    <div class="impact-ecolo"></div>
                    <div class="tarifs"></div>
                    <div class="tarifs"></div>
                    <div class="recap-b"></div>
                    <div class="modalités"></div>
                    <a class="valider"></a>*/

.options-billets .wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 75% 25%;
  grid-gap: 40px 70px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
}

.porte-a-porte .wrapper-pap {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 40px 70px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
}

.porte-a-porte .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}
.options-billets .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}

.options-billets .recap-t img {
  width: 100%;
  height: 100%;
}

.porte-a-porte .recap-t img {
  width: 100%;
  height: 100%;
}

.options-billets .billet1 {
  grid-column: 1;
  grid-row: 2/4;
}

.options-billets .tarifs a {
  text-decoration: none;
  color: #140a0f;
}

.options-billets .tarifs .services {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
}

.options-billets .tarifs .place {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
  font-size: 0.8em;
}

.options-billets .tarifs .row {
  margin-left: 20px;
  margin-right: 20px;
}

.options-billets .tarifs .row1z {
  justify-content: space-around;
}

.options-billets .tarifs .row1 {
  margin-top: 20px;
  justify-content: space-between;
}

.options-billets .tarifs .row1 .row {
  margin-left: 0px;
  margin-right: 0px;
}

.options-billets .tarifs .row1 .row .SNCF {
  height: fit-content;
  width: 30px;
}

.options-billets .tarifs .row .bloc {
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-bleu);
  border-width: 1px;
  padding-top: 5px;
}

.options-billets .tarifs .row .bloc:hover {
  background-color: #f3f3f8;
}

.options-billets .tarifs .row .bloc p {
  text-align: center;
  padding-left: 40px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.options-billets .bagages {
  margin-top: 20px;
  margin-bottom: 20px;
}
.options-billets .bagages .row0a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row1a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row2a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row3b {
  flex-wrap: nowrap;
}

.options-billets .bagages .row3b p {
  white-space: nowrap;
}

.options-billets .bagages h5 {
  margin-left: 20px;
}

.options-billets .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}
.porte-a-porte .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}

.impact-ecolo h4 {
  color: #13090f;
}
.options-billets .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.porte-a-porte .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.options-billets .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.options-billets .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.options-billets .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}
.options-billets .impact-ecolo .row-ecolo .text {
  font-size: 0.8em;
}

.options-billets .impact-ecolo .separateur {
  height: 1px;
  background-color: var(--color-bleu);
  margin-top: 20px;
}

.porte-a-porte .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.porte-a-porte .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.porte-a-porte .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}
.porte-a-porte .impact-ecolo .row-ecolo .text {
  font-size: 0.8em;
}

.porte-a-porte .impact-ecolo .separateur {
  height: 1px;
  background-color: var(--color-bleu);
  margin-top: 20px;
}

.options-billets .billet2 {
  grid-column: 1;
  grid-row: 4/7;
  margin-bottom: 40px;
}

.options-billets .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #13090f;
  height: fit-content;
}

.porte-a-porte .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #13090f;
  height: fit-content;
}
.options-billets .recap-b h5 {
  margin-bottom: 20px;
}

.options-billets .recap-b .row {
  justify-content: space-between;
}

.options-billets .recap-b p {
  font-size: 0.9em;
}

.options-billets .recap-b .row1 p {
  margin-bottom: 0px;
}

.recap-b .row4 p {
  margin-bottom: 0px;
}

.options-billets .recap-b .row .text-tranquille {
  margin-left: 15px;
}
.porte-a-porte .recap-b h5 {
  margin-bottom: 20px;
}

.porte-a-porte .recap-b .row {
  justify-content: space-between;
}

.porte-a-porte .recap-b p {
  font-size: 0.9em;
}

.porte-a-porte .recap-b .row1 p {
  margin-bottom: 0px;
}

.porte-a-porte .recap-b .row .text-tranquille {
  margin-left: 15px;
}

.options-billets .modalités {
  grid-column: 2/3;
  grid-row: 3/5;
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.porte-a-porte .modalités {
  grid-column: 2/3;
  grid-row: 3/5;
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.options-billets .modalités p {
  color: var(--color-bleu);
  margin-bottom: 0px;
  font-size: 0.9em;
}
.porte-a-porte .modalités p {
  color: var(--color-bleu);
  margin-bottom: 0px;
  font-size: 0.9em;
}

.options-billets .modalités .billet2 {
  margin-top: 15px;
}

.porte-a-porte .modalités .billet2 {
  margin-top: 15px;
}

.options-billets .valider {
  grid-column: 2/2;
  grid-row: 4/5;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  margin-top: -45px;
  align-self: end;
}

.options-billets .valider:hover {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  text-decoration: none;
}

.porte-a-porte .valider {
  grid-column: 2/2;
  grid-row: 5/6;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  align-self: start;
  margin-top: 0px !important;
}

.porte-a-porte .valider:hover {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  text-decoration: none;
}

/* PORTE A PORTE */

.porte-a-porte .choix-depart {
  grid-column: 1;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
}

.porte-a-porte .choix-depart .row-depart {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.porte-a-porte .choix-depart .row-depart a {
  color: #140a0f;
}

.porte-a-porte .choix-depart .row-depart a:hover .bloc {
  background-color: #f3f3f8;
  text-decoration: none;
}

.porte-a-porte .choix-depart .row-depart a:hover {
  text-decoration: none;
}

.porte-a-porte .choix-depart .row-depart p {
  font-size: 0.9em;
  padding: 15px;
  text-align: center;
  margin: auto 0px auto 0px;
}

.porte-a-porte .choix-depart .row-depart .bloc {
  margin-bottom: 20px;
  height: 100%;
  display: flex;
}

.porte-a-porte .choix-depart .row-depart .bloc1 {
  margin-right: 10px;
}
.porte-a-porte .choix-depart .row-depart .bloc2 {
  margin-right: 10px;
}

/* INFOS PERSOS */

.infos-persos .wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 40px 70px;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 30px;
}

.infos-persos .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}

.infos-persos .recap-t img {
  width: 100%;
  height: 100%;
}

.infos-persos .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}

.infos-persos .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.infos-persos .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.infos-persos .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.infos-persos .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.infos-persos .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}

.infos-persos .impact-ecolo .row-ecolo .text {
  font-size: 0.8em;
}

.infos-persos .impact-ecolo .separateur {
  height: 1px;
  background-color: var(--color-bleu);
  margin-top: 20px;
}

.infos-persos .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #13090f;
  border-width: 1px;
  height: fit-content;
}

.infos-persos .recap-b h5 {
  margin-bottom: 20px;
}

.infos-persos .recap-b .row {
  justify-content: space-between;
}

.porte-a-porte .recap-b p {
  font-size: 0.9em;
}

.infos-persos .recap-b .row1 p {
  margin-bottom: 0px;
}

.infos-persos .recap-b .row .text-tranquille {
  margin-left: 15px;
}

.infos-persos .modalités {
  grid-column: 2/3;
  grid-row: 3/5;
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.infos-persos .modalités p {
  color: var(--color-bleu);
  margin-bottom: 0px;
  font-size: 0.9em;
}

.infos-persos .modalités .billet2 {
  margin-top: 15px;
}

.infos-persos .valider {
  grid-column: 2/2;
  grid-row: 4/5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  margin-top: -25px;
}

.infos-persos .valider:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

.infos-persos .creer-compte {
  grid-column: 1;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.infos-persos .creer-compte .col-l {
  margin-right: 10px;
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
}

.infos-persos .creer-compte .col-l .text {
  margin-right: 5px;
  margin-bottom: 0px;
}

.infos-persos .creer-compte .col-r {
  display: flex;
  align-items: center;
}

.infos-persos .creer-compte .col-r .bouton {
  padding: 10px 15px 10px 15px;
  text-align: center;
}

.infos-persos .creer-compte .col-r .bouton:hover {
  background-color: #f0856b;
  color: #ffffff !important;
  text-decoration: none;
}

.infos-persos .formulaire {
  grid-column: 1;
  grid-row: 3/4;
  padding: 20px;
  border-radius: 20px;
  display: flex;
}

.infos-persos .formulaire .ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.infos-persos .formulaire .ligne2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.infos-persos .formulaire .ligne2 p {
  margin-bottom: 0px;
}

.infos-persos .formulaire .ligne2 input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #b1b1b1;
}

.infos-persos .formulaire .cols {
  display: flex;
  flex-wrap: nowrap;
}

.infos-persos .formulaire .cols .ligne {
  margin-top: 20px;
}

.infos-persos .formulaire .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.infos-persos .formulaire .col-l input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.infos-persos .formulaire .cols .col-r {
  display: flex;
  flex-wrap: wrap;
}

.infos-persos .formulaire .col-r input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: var(--color-bleu);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.infos-persos .formulaire .ligne3 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
  justify-content: flex-start;
}

.infos-persos .formulaire .ligne3 input {
  border-radius: 200px;
  border-width: 1px;
  border-color: var(--color-bleu);
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.infos-persos .formulaire .ligne3 label {
  margin-bottom: 0px;
}

/* PAIEMENT */ 

.paiement .wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 40px 70px;
  grid-auto-rows: minmax(50px, auto);
  margin-top: 30px;
}

.paiement .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}

.paiement .recap-t img {
  width: 100%;
  height: 100%;
}

.paiement .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}

.paiement .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.paiement .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.paiement .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.paiement .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.paiement .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}

.paiement .impact-ecolo .row-ecolo .text {
  font-size: 0.8em;
}

.paiement .impact-ecolo .separateur {
  height: 1px;
  background-color: #264abd;
  margin-top: 20px;
}

.paiement .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #13090f;
  border-width: 1px;
  height: fit-content;
}

.paiement .recap-b h5 {
  margin-bottom: 20px;
}

.paiement .recap-b .row {
  justify-content: space-between;
}

.paiement .recap-b p {
  font-size: 0.9em;
}

.paiement .recap-b .row1 p {
  margin-bottom: 0px;
}

.paiement .recap-b .row .text-tranquille {
  margin-left: 15px;
}

.paiement .modalités {
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.paiement .modalités p {
  color: #264abd;
  margin-bottom: 0px;
  font-size: 0.9em;
}

.paiement .modalités .billet2 {
  margin-top: 15px;
}

.paiement .valider {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  margin-top: 20px;
}

.paiement .valider:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}
.paiement .row3 {
  grid-column: 2/3;
  grid-row: 3/5;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paiement .row2 {
  grid-column: 1/2;
  grid-row: 2/7;
  height: fit-content;
}

.paiement .code-promo {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.paiement .code-promo .col-r {
  justify-self: end;
}

.paiement .code-promo input {
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #b1b1b1;
  margin-right: 10px;
}

.paiement .code-promo .codepromo {
  padding: 5px 15px 5px 15px;
  text-align: center;
  border: none;
}

.paiement .code-promo .codepromo:hover {
  background-color: #f0856b;
  color: #ffffff !important;
  text-decoration: none;
  border: none;
}

.paiement .mode-paiement {
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
}

.paiement .mode-paiement .flex1 {
  display: flex;
  flex-wrap: nowrap;
}

.paiement .mode-paiement .flex1 .moyen {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right:15px; 
}

.paiement .mode-paiement .flex1 .moyen input {
  margin-right:10px;
}

.paiement .mode-paiement .cols {
  display: flex;
  flex-wrap: nowrap;
}

.paiement .mode-paiement .cols .ligne {
  margin-top: 20px;
  width:100%;
}

.paiement .mode-paiement .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  width:100%;
}

.paiement .mode-paiement .cols .col-l input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.paiement .mode-paiement .cols .col-r {
  display: flex;
  flex-wrap: wrap;
}

.paiement .mode-paiement .col-r input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.paiement .formulaire2 {
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.paiement .formulaire2 .ligne1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.paiement .formulaire2 .ligne2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.paiement .formulaire2 .ligne2 p {
  margin-bottom: 0px;
}

.paiement .formulaire2 input {
  width: 100%;
  border-radius: 2em;
  border-width: 1px;
  border-color: #264abd;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #b1b1b1;
}

.paiement .formulaire2 .cols {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.paiement .formulaire2 .cols .col-l {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  flex-grow: 1;
  margin-top: 20px;
}

.paiement .formulaire2 .cols .col-l #top {
  margin-top: 20px;
}

.paiement .formulaire2 .cols .col-r {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 20px;
  height: fit-content;
}


/* CONFIRMATION RESERVATION */

.confirmation-reservation .main {
  text-align: center;
  margin-top: 20px;
}

.confirmation-reservation .main img {
  max-width: 100px;
}

.confirmation-reservation .main h5 {
  margin-top: 20px;
}

.confirmation-reservation .confirmation-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  width: 100%;
}

.confirmation-reservation .confirmation-grid .left {
  grid-column: 1/2;
  grid-row: 1;
}

.confirmation-reservation .confirmation-grid .left .indicateurs {
  display: flex;
  flex-wrap: nowrap;
}

.confirmation-bouton-confirmer {
  background-image: url(../img/rect.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.confirmation-bouton-confirmer .bouton {
  height: 280px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.confirmation-bouton-confirmer .retour-accueil-confirmation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.confirmation-bouton-confirmer .retour-accueil-confirmation:hover {
  background-color: var(--color-bleu);
  text-decoration: none;
}

.confirmation-reservation .confirmation-grid .left .indicateurs .bloc {
  text-align: center;
}

.confirmation-reservation .confirmation-grid .left .indicateurs .indicateurs-ic {
  height: 35px;
}

.confirmation-reservation .confirmation-grid .left .indicateurs p {
  margin-bottom: 0px;
}

.confirmation-reservation .confirmation-grid .right {
  grid-column: 2/2;
  grid-row: 1;
  justify-self: end;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  justify-content: center;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton:hover {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  text-decoration: none;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton img {
  height: 30px;
  margin-right: 5px;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton p {
  vertical-align: middle;
  margin-bottom: 0px;
}
/*FOOTER*/

.footer {
  background-color: #f3f3f8;
  position: relative;
}

.footer a {
  color: #140a0f;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer .row {
  display: flex;
}

.footer .bloc {
  flex-wrap: nowrap;
  flex-grow: 1;
}
.footer .bloc a {
  text-decoration: none;
}

.footer .bloc svg {
  height: 2em;
  fill: var(--color-peche);
}

.footer .bloc svg:hover {
  fill: var(--color-bleu);
}

.footer .bouton-aide {
  border-style: solid;
  border-color: var(--color-bleu);
  border-width: 1px;
  border-radius: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer .bouton-aide:hover {
  background-color: var(--color-bleu);
  color: #ffffff !important;
  text-decoration: none;
}

.footer h5 {
  color: var(--color-bleu);
  font-family: "Avenir Medium", Arial, Sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer .footer-brand {
  max-width: 250px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

#exemple {
  padding: 15px;
}
