/*
Couleurs Charte graphique :

Couleurs principales :
Peche : #f0856b;
Bleu foncé : #264abd;

Couleurs secondaires : 
gris clair : #f3f3f8;
bleu pâle : #3a8bff;
blanc beige : #fffaf8;
pêche clair : #ffcda8;
vert clair : #eeffe4;
vert pomme : #c8ff54;
bleu vert : #26e8bd;
Blanc : #ffffff;
Gris : #d4d2dc;
Noir : #140a0f; 

*/
:root {
  --font-text: Avenir, Arial;
  --font-titre: Montserrat, Arial;

  --color-peche: #f0856a;
  --color-bleu: #264abd;

  --size-border-radius: 15px;
}

html {
  font-family: var(--font-text);
}

p {
  font-family: var(--font-text);
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
}

.cookies {
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 0;
  margin: 0;
  background-color: var(--color-bleu);
  height: 75px;
}

.lblcookies {
  color: rgba(255, 255, 255, 1);
  padding: 10px 20px;
  margin: 0 !important;
}

.icocookies {
  padding-right: 30px;
  width: 20px;
  fill: white;
}

.test {
  margin-left: 50px;
}

.bouton-peche {
  background-color: #f0856b;
  color: #ffffff !important;
  border-radius: 2rem;
}

.bouton-bleu {
  background-color: #264abd;
  color: #ffffff !important;
  border-radius: 2rem;
}

.bleu-fp {
  color: #264abd !important;
}
.peche-fp {
  color: #f0856b;
}

.btn-orange {
  background-color: #f0866b;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-orange:hover {
  background-color: #f99b83;
}
.btn-orange:active {
  position: relative;
  top: 1px;
}

.btn-blue {
  background-color: #264abd;
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
}
.btn-blue:hover {
  background-color: #3f62d3;
}
.btn-blue:active {
  position: relative;
  top: 1px;
}

.border-fp {
  border-style: solid;
  border-radius: 20px;
  border-color: #264abd;
  border-width: 1px;
}

.bold {
  font-family: "Avenir Black", Arial, Sans-serif !important;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/*MENU*/
.navbar {
  font-size: 1em;
}

.navbar .navbar-brand {
  max-width: 180px;
}
.nav {
  flex-wrap: nowrap;
}

#menu {
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .navbar li {
    min-width: fit-content;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    font-size: 1em;
  }
}

.nav .bouton-peche {
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 2rem !important;
}

.navbar .nav-link {
  text-align: center;
  margin: 0px 10px 0px 10px;
}

.navbar .nav-link-style {
  color: #264abd !important;
}
.navbar .nav-link:hover {
  color: pink !important;
}

.navbar-toggler {
  color: #fff !important;
  border-style: none;
}

/*MOTEUR RECHERCHE*/
#moteur-recherche {
  min-height: 50vh;
  padding: 50px;
}

h1 {
  color: #264abd;
  font-family: var(--font-titre);
  font-weight: 0;
}
h4 {
  color: var(--color-peche);
}

#moteur-recherche .container {
  position: relative;
  height: 100px;
  max-width: 100%;
  margin: 30px 0px;
  border: 1px solid var(--color-bleu);
  border-radius: 30px;
}

#moteur-recherche .row p {
  margin: 10px 25px;
  font-weight: bold;
}

#moteur-recherche .row .input-text {
  margin: 0px 5px;
  max-width: 225px;
  border: 1px solid var(--color-bleu);
  padding: 7px 15px;
  border-radius: 30px;
}

#moteur-recherche #recherche {
  color: white;
}

.btn {
  margin: 10px !important;
  height: auto !important;
  padding: 0px 12px 0px 12px !important;
}

/*PAGE RESULTATS */

/* RECAP RECHERCHE */
.recaps-trajet {
  background-color: #264abd;
}

.recaps-trajet .conteneur {
  display: flex;
  background-color: none;
}

.recaps-trajet .bouton-peche {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 1.5rem !important;
  margin-top: 1rem;
}

.recap {
  flex-wrap: nowrap;
  flex-grow: 1;
  text-align: center;
}

.recaps-trajet .depart {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-width: thin;
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  max-width: 250px;
  margin-right: 40px;
}

.recaps-trajet .arrivee {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-width: thin;
  border-radius: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  max-width: 250px;
}

.text-recap {
  color: #ffffff;
  margin-top: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*INDICE CARBONE*/

.indice-carbone .container {
  display: flex;
  margin-top: 1rem;
  border-radius: 1.5rem;
}

.indice-carbone .indice {
  flex-wrap: nowrap;
  flex-grow: 1;
}

.indice-carbone .positif {
  background-color: #c8ff54;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 0.5rem;
}
.indice-carbone .moyen1 {
  background-color: #26e8bd;
  padding: 0.5rem;
}
.indice-carbone .moyen2 {
  background-color: #f0856b;
  padding: 0.5rem;
}
.indice-carbone .moyen2 p {
  color: #ffffff;
}
.indice-carbone .negatif {
  background-color: #140a0f;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 0.5rem;
}
.indice-carbone .negatif p {
  color: #ffffff;
}

.indice-carbone p {
  margin-bottom: 0px;
  font-family: "Avenir Medium", Arial, Sans-serif;
  font-size: 0.6rem;
  text-align: center;
}

/*FILTRES */
#mode-transport .mode-transport {
  font-family: "Avenir Black", Arial, Sans-serif;
  font-size: 1rem;
  color: #f0856b;
}

#filtresTransport {
  display: flex;
  list-style: none;
  width: 100%;
  margin-top: 3rem;
}

#filtresTransport .filtre-transport {
  flex-grow: 1;
}

/* BARRE SELECTION */
.barre-selection {
  width: 100%;
  display: flex;
  height: 5px;
  background-color: #ffcda8;
}

.barre-selection .selection {
  flex-grow: 1;
  flex-wrap: nowrap;
}

/*RESULTATS*/
#resultats-billets {
  margin-top: 40px;
}
#resultats-billets h2 {
  font-family: "Avenir Black", Arial, Sans-serif;
  font-size: 2rem;
  color: #264abd;
  margin-left: 50px;
}

#resultats-billets .carte-trajet {
  float: right;
  max-height: 350px;
  margin-right: 50px;
  margin-top: -100px;
}

.les-billets {
  margin-top: 60px;
}

.billet {
  display: flex;
  width: 950px;
  background-color: white;
  border: 0.5px solid #264abd;
  margin-bottom: 40px;
  margin-left: 50px;
  max-width: 60%;
  border-radius: 15px;
}

.rub {
  flex-grow: 1;
  min-width: fit-content;
  padding: 10px;
}

.rub5 {
  border-left: 0.5px solid #264abd;
}

.billet .p {
  padding: 10px;
  font-family: "Avenir Medium", Arial, Sans-serif;
  font-size: 0.8em;
}

.billet .p9 {
  font-family: "Avenir Black", Arial, Sans-serif !important;
  font-size: 1.1em;
  color: #264abd;
  text-align: center;
}

.billet .p10 {
  border-top: 0.5px solid #264abd;
}

/* PAGE SELECTION BILLETS */

/* RECAP ETAPES*/

.recap-etapes {
  background-color: #264abd;
}

.recap-etapes .container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.recap-etapes a {
  max-height: 68px;
  display: inline-flex;
  flex-wrap: nowrap;
  width: 170px;
}

.text-recap-e {
  color: #ffffff;
  margin: auto 0px auto 0px;
  font-size: 1em;
  text-align: center;
  width: fit-content;
}

.recap-etapes .num-e {
  background-color: #ffffff;
  color: #354372;
  padding: 10px 17px 10px 17px;
  font-family: "Avenir Black", Arial, Sans-serif;
  border-radius: 2rem;
  max-height: 44px;
  max-width: 44px;
  margin: auto 15px auto 0px;
}

.recap-etapes .next {
  min-width: 15px;
  min-height: 15px;
  background-color: #ffffff;
  border-radius: 2rem;
  margin: auto 10px auto 0px;
}

/* OPTIONS */

/*div class="recap-t"></div>
                    <div class="impact-ecolo"></div>
                    <div class="tarifs"></div>
                    <div class="tarifs"></div>
                    <div class="recap-b"></div>
                    <div class="modalités"></div>
                    <a class="valider"></a>*/

.options-billets .wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 75% 25%;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
}

.porte-a-porte .wrapper-pap {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 30px;
}

.porte-a-porte .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}
.options-billets .recap-t {
  grid-column: 1;
  grid-row: 1/2;
}

.options-billets .recap-t img {
  width: 100%;
}
.porte-a-porte .recap-t img {
  width: 100%;
}

.options-billets .billet1 {
  grid-column: 1;
  grid-row: 2/4;
}

.options-billets .tarifs a {
  text-decoration: none;
  color: #140a0f;
}

.options-billets .tarifs .services {
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
}

.options-billets .tarifs .place {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #398aff;
  font-size: 0.8rem;
}

.options-billets .tarifs .row {
  margin-left: 20px;
  margin-right: 20px;
}

.options-billets .tarifs .row1z {
  justify-content: space-around;
}

.options-billets .tarifs .row1 {
  margin-top: 20px;
  justify-content: space-between;
}

.options-billets .tarifs .row1 .row {
  margin-left: 0px;
  margin-right: 0px;
}

.options-billets .tarifs .row1 .row .SNCF {
  height: fit-content;
  width: 30px;
}

.options-billets .tarifs .row1 .row .Eurostar {
}

.options-billets .tarifs .row .bloc {
  border-style: solid;
  border-radius: 20px;
  border-color: #264abd;
  border-width: 1px;
  padding-top: 5px;
}

.options-billets .tarifs .row .bloc p {
  text-align: center;
  padding-left: 40px;
  margin-bottom: 0px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.options-billets .bagages {
  margin-top: 20px;
  margin-bottom: 20px;
}
.options-billets .bagages .row0a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row1a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row2a {
  flex-wrap: nowrap;
}
.options-billets .bagages .row3b {
  flex-wrap: nowrap;
}

.options-billets .bagages .row3b p {
  white-space: nowrap;
}

.options-billets .bagages h5 {
  margin-left: 20px;
}

.options-billets .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}
.porte-a-porte .impact-ecolo {
  grid-column: 2/2;
  grid-row: 1;
}

.options-billets .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}
.porte-a-porte .impact-ecolo .conteneur {
  background-color: #26e8bd;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
}

.options-billets .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.options-billets .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.options-billets .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}
.options-billets .impact-ecolo .row-ecolo .text {
  font-size: 0.8rem;
}

.options-billets .impact-ecolo .separateur {
  height: 1px;
  background-color: #264abd;
  margin-top: 20px;
}

.porte-a-porte .impact-ecolo .row-ecolo {
  flex-wrap: nowrap;
  text-align: center;
  margin-top: 25px;
}

.porte-a-porte .impact-ecolo .row-ecolo .bloc1 {
  margin-right: 10px;
}

.porte-a-porte .impact-ecolo .row-ecolo .bold {
  margin-bottom: 0px;
}
.porte-a-porte .impact-ecolo .row-ecolo .text {
  font-size: 0.8rem;
}

.porte-a-porte .impact-ecolo .separateur {
  height: 1px;
  background-color: #264abd;
  margin-top: 20px;
}

.options-billets .billet2 {
  grid-column: 1;
  grid-row: 4/7;
  margin-top: 40px;
  margin-bottom: 40px;
}

.options-billets .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  height: fit-content;
}

.porte-a-porte .recap-b {
  grid-column: 2/2;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  height: fit-content;
}
.options-billets .recap-b h5 {
  margin-bottom: 20px;
}

.options-billets .recap-b .row {
  justify-content: space-between;
}

.options-billets .recap-b p {
  font-size: 0.9rem;
}

.options-billets .recap-b .row1 p {
  margin-bottom: 0px;
}

.options-billets .recap-b .row .text-tranquille {
  margin-left: 15px;
}
.porte-a-porte .recap-b h5 {
  margin-bottom: 20px;
}

.porte-a-porte .recap-b .row {
  justify-content: space-between;
}

.porte-a-porte .recap-b p {
  font-size: 0.9rem;
}

.porte-a-porte .recap-b .row1 p {
  margin-bottom: 0px;
}

.porte-a-porte .recap-b .row .text-tranquille {
  margin-left: 15px;
}

.options-billets .modalités {
  grid-column: 2/3;
  grid-row: 3/5;
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.porte-a-porte .modalités {
  grid-column: 2/3;
  grid-row: 3/5;
  padding: 20px;
  background-color: #f3f3f8;
  border-radius: 20px;
  height: fit-content;
}

.options-billets .modalités p {
  color: #264abd;
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.porte-a-porte .modalités p {
  color: #264abd;
  margin-bottom: 0px;
  font-size: 0.9rem;
}

.options-billets .modalités .billet2 {
  margin-top: 15px;
}

.options-billets .valider {
  grid-column: 2/2;
  grid-row: 4/5;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  margin-top: -45px;
  align-self: end;
}
.porte-a-porte .valider {
  grid-column: 2/2;
  grid-row: 5/6;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2rem;
  text-align: center;
  height: fit-content;
  align-self: start;
}

.porte-a-porte .valider {
  margin-top: 0px !important;
}

/* PORTE A PORTE */

.porte-a-porte .choix-depart {
  grid-column: 1;
  grid-row: 2/3;
  padding: 20px;
  border-radius: 20px;
}

.porte-a-porte .choix-depart .row-depart {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.porte-a-porte .choix-depart .row-depart a {
  color: #140a0f;
}

.porte-a-porte .choix-depart .row-depart p {
  font-size: 0.9em;
  padding: 15px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 6rem;
  box-sizing: border-box;
}

.porte-a-porte .choix-depart .row-depart .bloc {
  margin-bottom: 20px;
  height: 110px;
}

.porte-a-porte .choix-depart .row-depart .bloc1 {
  margin-right: 10px;
}
.porte-a-porte .choix-depart .row-depart .bloc2 {
  margin-right: 10px;
}

/* CONFIRMATION RESERVATION */

.confirmation-reservation .main {
  text-align: center;
  margin-top: 20px;
}

.confirmation-reservation .main img {
  max-width: 100px;
}

.confirmation-reservation .main h5 {
  margin-top: 20px;
}

.confirmation-reservation .confirmation-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  width: 100%;
}

.confirmation-reservation .confirmation-grid .left {
  grid-column: 1/2;
  grid-row: 1;
}

.confirmation-reservation .confirmation-grid .left .indicateurs {
  display: flex;
  flex-wrap: nowrap;
}

.confirmation-bouton-confirmer {
  background-image: url(../img/rect.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.confirmation-bouton-confirmer .bouton {
  height: 280px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.confirmation-bouton-confirmer .retour-accueil-confirmation {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.confirmation-reservation .confirmation-grid .left .indicateurs .bloc {
  text-align: center;
}

.confirmation-reservation
  .confirmation-grid
  .left
  .indicateurs
  .indicateurs-ic {
  height: 35px;
}

.confirmation-reservation .confirmation-grid .left .indicateurs p {
  margin-bottom: 0px;
}

.confirmation-reservation .confirmation-grid .right {
  grid-column: 2/2;
  grid-row: 1;
  justify-self: end;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  justify-content: center;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton img {
  height: 30px;
  margin-right: 5px;
}

.confirmation-reservation .confirmation-grid .right .confirmation-bouton p {
  vertical-align: middle;
  margin-bottom: 0px;
}
/*FOOTER*/

.footer {
  background-color: #f3f3f8;
  position: relative;
}

.footer a {
  color: #140a0f;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer .row {
  display: flex;
}

.footer .bloc {
  flex-wrap: nowrap;
  flex-grow: 1;
}

.footer .bouton-aide {
  border-style: solid;
  border-color: #264abd;
  border-width: 1px;
  border-radius: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer h5 {
  color: #264abd;
  font-family: "Avenir Medium", Arial, Sans-serif;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer .footer-brand {
  max-width: 250px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

#exemple {
  padding: 15px;
}
